#titleTable td{
    background-color: #019981 ;
    color: white;
}

.nomes{
    background-color: #A8A8A8;
    color: white;
}

.notas{
    background-color:  #F1F1F1;
}

.p_invisivel{
    color: white;
}